<div class="card">

  <div class="header">
      <h2 class="title">Flight Search</h2>
  </div>

  <div class="content">
  
  <form>
  
      <div class="form-group">
          <label>From:</label>
          <input [formControl]="control" name="from" class="form-control">
      </div>
      Online: {{ online$ | async }}
  </form>
  
  <table class="table table-striped">
    <tr *ngFor="let f of flights$ | async">
      <td>{{f.id}}</td>
      <td>{{f.from}}</td>
      <td>{{f.to}}</td>
      <td>{{f.date | date:'short' }}</td>
    </tr>

  </table>

  </div>


</div>